name: ROS 2 Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-24.04
    container:
      image: ros:jazzy-ros-base
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        shell: bash
        run: |
          apt-get update && apt-get install -y python3-psutil
          rosdep update
          rosdep install --from-paths . --ignore-src -y

      - name: Build and Test
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon build --packages-select mypkg
          colcon test --packages-select mypkg
          colcon test-result --verbose
